div {
    display: inline-block;
    background-color: transparent;
    height: 600px;
    width: 500px;
    background-color: lightblue;
    margin-top: 5%;
    box-shadow: 1px 1px 5px black;
}

section {
    display: flex;
    justify-content: space-around;
}

p {
    padding: 10px 20px;
}

button {
    padding: 0.5rem;
    margin-left: 20px;
    background-color: #2260a7;
    color: white;
    cursor: pointer;
    border: none;
}

.myimg {
    height: 400px;
    width: 100%;
}